
/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: #d8dee8;
    }

    to {
        color: #81a1c1;
        background-color: #14111c;
    }
}

@keyframes blink-critical {
    50% {
        color: #d8dee8;
    }

    to {
        color: #ebcb8b;
        background-color: #14111c;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
/*    font-family: "RobotoMono Nerd Font", "Roboto Mono", sans-serif; */
    font-family: "Terminus"; 
}

/* The whole bar */
#waybar {
    background: #14111c;
    color: #d8dee8;
    font-size: 14px;
}

/* Each module */
#custom-pacman,
#custom-menu,
#custom-help,
#custom-scratchpad,
#custom-github,
#custom-clipboard,
#bluetooth,
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#idle_inhibitor,
#backlight,
#language,
#custom-sunset,
#custom-playerctl,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-scratchpad {
    background-color: #bf616a;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: #81a1c1;
}

#battery.critical {
    color: #ebcb8b;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
    background-color: #bf616a;
    color: #14111c
}

#cpu.warning {
    color: #81a1c1;
}

#cpu.critical {
    color: #ebcb8b;
}

#custom-menu {
    background-color: #14111c;
    padding-left: 10px;
    padding-right: 14px;
}

#memory {
    font-family: "Font Awesome 5 Free Solid";
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: #81a1c1;
}

#memory.critical {
    color: #ebcb8b;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #14111c;
}

#network.disconnected {
    font-family: "Font Awesome 5 Free Solid";
    color: #81a1c1;
}

#network.ethernet {
    font-family: "Font Awesome 5 Free Solid";
    color: #d8dee8;
}

#network.wifi {
    font-family: "Font Awesome 5 Free Solid";
    color: #d8dee8;
}

#pulseaudio.muted {
    color: #81a1c1;
}

#temperature.critical {
    color: #ebcb8b;
}

#window {
    font-weight: bold;
    margin-right: 25px;
    color: #14111c;
}

#workspaces button {
    font-family: "Font Awesome 5 Free Solid"; 
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    color: #d8dee8;
/*    border-color: #b1616a;*/
}

#workspaces button.focused {
    font-family: "Font Awesome 5 Free Solid"; 
/*    border-color: #b1616a;*/
    color: #b1616a;
    background-color: #14111c;
}

#workspaces button.urgent {
    font-family: "Font Awesome 5 Free Solid"; 
/*    border-color: #81a1c1;*/
    color: #81a1c1;
}

#workspaces button.persistent {
    font-family: "Font Awesome 5 Free Solid"; 
/*    border-color: #14111c;*/
    font-size: 9px;
    color: #b1616a;
}

#custom-pacman {
    color: #ebcb8b;
}

#bluetooth.disabled {
    color: #81a1c1;
}

#custom-wf-recorder {
    color: #ebcb8b;
    padding-right: 10px;
}
